div {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

body {
    display:flex;
    justify-content: center;
    align-items:normal;
    flex-direction: column;
    gap: 3rem;
    margin-block: 1rem;
}